<!DOCTYPE html>
<html>
<head>
	<title>LoginApp</title>
  {{> general/metahead}}
</head>
<body>
	<div id="site-container">

      <header id="site-header">
        {{> general/header}}
      </header>


      <div id="site-content">
      
        <div class="col-lg-12">
          {{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
          {{/if}}

          {{#if error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
          {{/if}}

          {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
          {{/if}}
          
          {{{body}}}
        </div>

        
      </div>

      <footer id="site-footer">
        {{> general/footer}}
      </footer>

    </div> <!-- /container -->
</body>
</html>
