<!DOCTYPE html>
<html>
<head>
	<title>Album app</title>
  {{> general/metahead}}
</head>
<body class={{device}}>

  {{> general/modal}}
	
  <div id="site-container">

      <header id="site-header">
        {{> general/header}}
      </header>


      <div id="site-content">          
          {{{body}}}
        </div>

        
      </div>

      <footer id="site-footer">
        {{> general/footer}}
      </footer>

    </div> <!-- /container -->
</body>
</html>
