<div id="template" class="hidden">

  <div class="list-group-item image-preview">
    
    <span class="preview"><img data-dz-thumbnail class="img-thumbnail" /></span>
    
    <div class="file-date-taken"></div>
    <div class="dz-size file-size" data-dz-size></div>
    
    <div class="">
      <small class="album-list-name"></small><br>
      <small class="make-model"></small>
      <p class="size"></p>
    </div>

    <div class="progress-wrapper">
        <div role="progress-bar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" class="progress-bar" style="width:0%;" data-dz-uploadprogress></div>
    </div>

    <div class="status-s3" style="display:none">
        <i class="al-icons s3"></i>
    </div>
    <div class="status-exif" style="display:none">
        <i class="al-icons exif"></i>
    </div>
    <div class="status-thumb" style="display:none">
        <i class="al-icons thumb"></i>
    </div>
    <div class="status-rekognition" style="display:none">
        <i class="al-icons rekognition"></i>
    </div>

    <button data-dz-remove class="btn btn-danger btn-xs cancel remove-file">
      <i class="fa fa-remove"></i>
    </button>

  </div>

</div>