
<!-- {{#is user.access_level 100 }}
Admin
{{/is}}

{{#is user.access_level 50 }}
Simple user
{{/is}} -->

{{#is user.access_level 100}}
<div id="recycle-bin">
  <a href="/trash" class="tip-default" title="Recycle bin"><i class="fa fa-trash"></i></a>
</div>

<div id="recycle-bin">
  <a href="/unattached-media" class="tip-default" title="Unattached media"><i class="fa fa-cloud-download"></i></a>
</div>
{{/is}}

<div id="footer-buttons">
  {{{footer_buttons}}}
</div>