
<div class="modal fade" id="modal-template" tabindex="-1" role="dialog" aria-labelledby="ajaxmodal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <p class="text-center"><i class="modalspinner fa fa-refresh fa-spin fa-5x"></i></p>
        </div>
    </div>
</div>