@import '../base/normalize';
@import '../base/form_reset';
@import '../variables/mixins';
@import '../variables/colors';

//@import 'partials/grid';
@import 'partials/header';
@import 'partials/modal';
@import 'partials/inputs';
@import 'partials/buttons';
@import 'partials/footer';

body {
  background: $white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  line-height: 1;
}

a {
  text-decoration: none;
  color: $blue;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#site-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#site-content {
  margin-top: 50px;
  padding: 20px;
}