
{{> general/title}}

<ul id="faces-list">
  
  {{# each faces}}
  <li class="face-item">
    {{FaceId}}
    <button type="button" data-collection_id="{{../collection_id}}" data-face_id="{{FaceId}}" class="btn btn-default btn-xs pull-right" data-function="Album.deleteFace">
      <i class="fa fa-close"></i>
    </button>

  </li>
  {{/each}}

</ul>