

{{> general/title}}

<div class="form-wrapper">

    <form id="add_album" action="/album/add" method="post">

        <!-- name field -->
        <div class="form-group">
            <input type="text" class="form-control" id="name" name ="name" placeholder="Album name">
        </div>

        <!-- start , end date fields -->
        {{current_date}}
        <div class="dates-wrapper">
            <div class="form-group">
                <label for="start_date">Start Date</label>
                <div class="input-group date">
                    <input type="text" class="form-control" id="start_date" />
                </div>
            </div>

            <div class="form-group">
                <label for="end_date">End Date</label>
                <div class="input-group date">
                    <input type="text" class="form-control" id="end_date" />
                </div>
            </div>
        </div>
        
        <!-- dropzone preview -->
        <div class="list-group files" id="previews">
            {{> general/dropzone_album}}
        </div>

        <div class="form-group">
            <!-- dropzone input -->
            <span class="btn btn-success fileinput-button dz-clickable">
                <i class="glyphicon glyphicon-plus"></i>
                <span>Add files...</span>
            </span>
            <!-- update dates button -->
            <button type="button" class="btn btn-info update-dates" data-function="Album.updateDates">
                <i class="fa fa-refresh"></i>
            </button>
        </div>

<!-- 
        {# location field #}
        <div class="form-group">
            <label for="location_name">Location</label>
            <input type="text" class="form-control" id="location_name" name="location_name" placeholder="Location name...">
        </div>
        
        {# map #}
        <div class="panel panel-default panel-map">
            <div class="">
                <div id="album_map"></div>
            </div>
        </div>
        <div id="album_markers"></div> -->
     
        <!-- body field -->
        <div class="form-group">
            <label for="album_body">Body</label>
            <div class="form-control" data-tinymce id="album_body"></div>
        </div>
<!--    
        {# persons selection #}
        <div class="form-group">
            <label for="assign_person">Assign Persons</label>
            <select class="form-control select2-multiple" multiple="multiple" id="album_persons">
                {% for p in persons %}
                <option value="{{p.id}}" class="album_person" name="persons[]">
                    {{p.person_name}}
                </option>
                {% endfor %}
            </select>
        </div> -->
    
<!-- <div class="form-group pull-left">
    <input type="checkbox" id="album_private" name="album_private" data-checkbox="privateToggle">
</div> -->
    
    </form>

    <script>
        Album.addAlbumDP();
        Album.initDropzone();
    </script>

