
<ul class="list-default">
{{# each media}}
  <li class="list-item">
    <div class="image-wrapper" style="background-image:url({{img s3_key 'small'}});">
    </div>
    
    <div class="info-wrapper">
      {{fileSize filesize}}
    </div>

    <span class="btn btn-success btn-xs tip-default" title="Restore file" data-function="Album.trashRecover" data-mediaid={{id}}>
        <i class="fa fa-reply"></i>
    </span>

    <span class="btn btn-danger btn-xs tip-default" title="Delete permanently" data-function="Album.trashHardDelete" data-mediaid={{id}}>
        <i class="fa fa-remove"></i>
    </span>
  
  </li>

{{/each}}

</ul>